.secondBlock {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(241, 241, 241);
  .textDiv {
    height: auto;
    width: 46%;
    display: inline-block;
    p {
      text-align: justify;
    }
  }
  .image {
    display: inline-block;
    max-width: 40%;
    max-height: 80vh;
    border-radius: 10px;
  }
}
