.main {
  height: 60vh;
  background-position: center;
  background-size: cover;
  display: grid;
  place-items: center;
  .text {
    font-size: 3.5rem;
    color: white;
    text-align: center;
    text-shadow: 0 0 25px black;
  }
}

.information1 {
  height: 40vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  article {
    width: 40%;
    text-align: justify;
  }
}

.buttons {
  height: 20vh;
  display: flex;
  justify-content: center;
}
