.main {
  width: 100%;
  height: 100vh;
  margin-top: 2px;
  .overlay {
    position: absolute;
    margin-top: 72 + px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
  }
  .content {
    position: absolute;
    margin-top: 72px;
    width: 100%;
    height: 100%;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    h1 {
      font-size: 3rem;
    }
    h2 {
      font-size: 2em;
    }
  }
  video {
    width: 100%;
    height: 100vh;
    object-fit: cover;
  }
}

@media (max-width: 900px) {
  .overlay {
    margin-top: 66px;
  }
  .content {
    margin-top: 66px;
  }
}

@media (max-width: 600px) {
  .overlay {
    margin-top: 59px;
  }
  .content {
    margin-top: 59px;
  }
}
